.Titre {
    text-align: center;
    color: green;
    background-image: url(assets/Logo.webp);
    background-repeat: no-repeat;
    height: 100px;
    content: all;
    background-position: 5% 5px;
    background-size: 100px;
}

:root {
    --hauteur-menu: 60px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana;
}

.nav {
    font-size: 10px;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav-horizontal {
    display: flex;
}
.nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(194, 176, 176, 0.3);
    height: var(--hauteur-menu);
}

.nav > ul > li {
    background-color: rgb(145, 143, 142);
    position: relative;
    height: 100%;
    flex: 1;
}

.nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.li a{
    text-decoration: none;
    color: rgba(61, 55, 46, 0.397)2;
}

.menu-deroulant {
    list-style-type: none;
    width: 100%;
    text-align: left;
    color: rgb(100, 33, 100);
    border-radius: 2px;
}
.menu-deroulant > a::after {
    content: ">";
    font-size: 2px;
    margin-left: 6px;
    display: inline-block;
}

.sous-menu {
   
    width: 100%;
    text-align: center;
    background-color: rgba(122, 119, 117, 0.262);
    border-radius: 3px;
    overflow: hidden;
}

.sous-menu > li > a {
height: 50px;
padding-left: 5px;
width: 100%;
align-items: center;
display: flex;
}

.nav > ul > li:hover > a {
    color: rgb(52, 136, 136);
}

.sous-menu > li:hover {
    background-color: rgba(92, 98, 92, 0.366);
}

.sous-menu > li:hover {
    color: rgb(93, 93, 89);
}
